body {
    text-align: center;
    background-color: #1a1a2e;
    color: black;
  }
  .mt-3{
    background-color: aqua;
  }
  canvas {
    background-color: black;
    display: block;
    margin: auto;
    border: 2px solid white;
  }
  .controls {
    margin-top: 10px;
  }
  .btn {
    margin: 5px;
  }